/* В App.css */

/* Ключевая анимация для вращения монеты */
@keyframes flip {
  0% {
    transform: rotateY(0deg); /* Начальное положение */
  }
  50% {
    transform: rotateY(1800deg); /* 5 полных оборотов */
  }
  100% {
    transform: rotateY(3600deg); /* 10 полных оборотов */
  }
}

/* Класс, который применяется для анимации вращения */
.coin {
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.flipping {
  animation: flip 2s ease-in-out; /* Анимация вращения на 2 секунды */
}

/* Для плавного появления результата */
.result {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.result.show {
  opacity: 1;
}
